:root{
    --main-bg-color1: #15202B;
    --main-bg-color2: #1E2732;
    --main-bg-color3: #273340;
    --main-button-color1: #00BA7C;
    --main-border-color1: #2C3741;
    --main-innactive-button-color1: #0F4E43;
    --main-innactive-button-color2: #0A6D53;
    --main-text-color1: #fff;
    --main-text-color2: #717E8A;
}